.devtoolsLauncher {
	display: block;
  position: absolute;
  left: 8px;
  bottom: 8px;
  z-index: 100;
}

.devtools {
  position: absolute;
  left: 8px;
  bottom: 8px;
  right: 8px;
  height: 500px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
	box-sizing: border-box;
	font-size: 16px;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	user-select: text;

	& * {
		box-sizing: border-box;
		user-select: auto;
	}

	& h3 {
		margin: 0;
		font-size: 20px;
		font-weight: bold;
	}

	& h3 small {
		font-weight: 400;
		opacity: 0.6;
	}
}

.resizerTop {
	height: 8px;
	width: 100%;
	left: 0;
	top: -4px;
	right: 0;
	cursor: ns-resize;
}

.resizerRight {
	height: 100%;
	width: 8px;
	bottom: 0;
	top: 0;
	right: -4px;
	cursor: ew-resize;
}

.resizerTop,
.resizerRight {
	position: absolute;
	z-index: 2;
	background-color: transparent;

	&:hover {
		background-color: rgba(0,0,0,0.1);
	}

	&:active {
		background-color: rgba(0,0,0,0.2);

		&:before {
			display: block;
			content: "";
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}
	}
}

.head {
  display: block;
  height: 84px;
  padding: 10px 16px;
  border-bottom: 1px solid #dee2e6;

	& .headClose {
		display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		border: 0;
		background-color: transparent;
		padding: 5px;
		cursor: pointer;
		color: rgba(0,0,0,0.5);

		&:hover {
			color: #222;
		}

		& svg {
			display: block;
			width: 24px;
			height: 24px;
		}
	}
}

.headTitle {
	display: block;
	position: relative;
	padding: 6px 30px 6px 40px;
	margin-bottom: 8px;

	& svg {
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.mainMenuButton {
	display: inline-block;
	cursor: pointer;
	border: 0;
	border-bottom: 2px solid transparent;
	background-color: transparent;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1em;
	margin-right: 6px;
	color: #444;

	& svg {
		width: 18px;
		height: 18px;
		display: inline-block;
		vertical-align: top;
    margin: -1px 6px -1px -4px;
    color: #606060;
	}

	& span {
		display: block;
		background-color: transparent;
		padding: 7px 12px;
		border-radius: 5px;
		margin-bottom: 4px;
	}

	&.active {
		border-color: #f5841b;
		color: #000;

		& svg {
			color: #444;
		}
	}

	&:hover {
		& span {
			background-color: #f0f0f0;
		}
	}
}

.body {
  display: flex;
  height: calc(100% - 84px);
}

.actionsLeftWrapper {
	width: 20%;
	position: relative;
}

.actionsLeft {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  background-color: #ebeff3;
	scroll-behavior: auto !important;
}

.actionsRight {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 18px;
  flex: 1;
	scroll-behavior: auto !important;
}

.actionButton {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 6px;
	background-color: transparent;
  color: #323232;
  border: none;
  line-height: 1.1em;

  &:hover {
    background-color: #cdd2d6;
  }

  &.action {
    background-color: #323232;
    color: #fff;
  }
}

.storeValueEditButton {
	display: none;
	font-size: 10px;
	margin: -2px 0 -2px 6px;
	background: rgba(0,0,0,0.05);
	border: 0;
	padding: 3px 5px;
	border-radius: 4px;
	vertical-align: top;

	&:hover {
		background: rgba(0,0,0,0.2);
	}

	& svg {
		width: 11px;
		height: 11px;
		display: block;
	}
}

div:hover > .storeValueEditButton {
	display: inline-block;
}
